.container__Header {
  background-color: rgb(63, 63, 124);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  font-weight: 700;
}

.ul__Header {
  display: flex;
}

.btn__Header {
  margin-left: 1.3125em;
  font-weight: 700;
  cursor: pointer;
}
